=begin
#Staffology Payroll API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1
Contact: duane@staffology.co.uk
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.29
=end

module SwaggerClient
  class AttachmentOrderApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add Document
    # Adds document to the AttachmentOrder
    # @param employer_id 
    # @param employee_id 
    # @param id The Id of the AttachmentOrder you want to attach documents to
    # @param [Hash] opts the optional parameters
    # @option opts [String] :file 
    # @return [nil]
    def add_document_attachment_order(employer_id, employee_id, id, opts = {})
      add_document_attachment_order_with_http_info(employer_id, employee_id, id, opts)
      nil
    end

    # Add Document
    # Adds document to the AttachmentOrder
    # @param employer_id 
    # @param employee_id 
    # @param id The Id of the AttachmentOrder you want to attach documents to
    # @param [Hash] opts the optional parameters
    # @option opts [String] :file 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def add_document_attachment_order_with_http_info(employer_id, employee_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttachmentOrderApi.add_document_attachment_order ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling AttachmentOrderApi.add_document_attachment_order"
      end
      # verify the required parameter 'employee_id' is set
      if @api_client.config.client_side_validation && employee_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_id' when calling AttachmentOrderApi.add_document_attachment_order"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttachmentOrderApi.add_document_attachment_order"
      end
      # resource path
      local_var_path = '/employers/{employerId}/employees/{employeeId}/attachmentorders/{id}/documents'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'employeeId' + '}', employee_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttachmentOrderApi#add_document_attachment_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create AttachmentOrder
    # Creates an AttachmentOrder for the Employee
    # @param employer_id 
    # @param employee_id 
    # @param [Hash] opts the optional parameters
    # @option opts [AttachmentOrder] :body 
    # @return [nil]
    def create_attachment_order(employer_id, employee_id, opts = {})
      create_attachment_order_with_http_info(employer_id, employee_id, opts)
      nil
    end

    # Create AttachmentOrder
    # Creates an AttachmentOrder for the Employee
    # @param employer_id 
    # @param employee_id 
    # @param [Hash] opts the optional parameters
    # @option opts [AttachmentOrder] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_attachment_order_with_http_info(employer_id, employee_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttachmentOrderApi.create_attachment_order ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling AttachmentOrderApi.create_attachment_order"
      end
      # verify the required parameter 'employee_id' is set
      if @api_client.config.client_side_validation && employee_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_id' when calling AttachmentOrderApi.create_attachment_order"
      end
      # resource path
      local_var_path = '/employers/{employerId}/employees/{employeeId}/attachmentorders'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'employeeId' + '}', employee_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttachmentOrderApi#create_attachment_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete AttachmentOrder
    # Deletes the AttachmentOrder specified by the Id for the Employee specified by the EmployeeId
    # @param employer_id 
    # @param employee_id 
    # @param id The Id of the AttachmentOrder you want to delete.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_attachment_order(employer_id, employee_id, id, opts = {})
      delete_attachment_order_with_http_info(employer_id, employee_id, id, opts)
      nil
    end

    # Delete AttachmentOrder
    # Deletes the AttachmentOrder specified by the Id for the Employee specified by the EmployeeId
    # @param employer_id 
    # @param employee_id 
    # @param id The Id of the AttachmentOrder you want to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_attachment_order_with_http_info(employer_id, employee_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttachmentOrderApi.delete_attachment_order ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling AttachmentOrderApi.delete_attachment_order"
      end
      # verify the required parameter 'employee_id' is set
      if @api_client.config.client_side_validation && employee_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_id' when calling AttachmentOrderApi.delete_attachment_order"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttachmentOrderApi.delete_attachment_order"
      end
      # resource path
      local_var_path = '/employers/{employerId}/employees/{employeeId}/attachmentorders/{id}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'employeeId' + '}', employee_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttachmentOrderApi#delete_attachment_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete AttachmentOrder Document
    # Deletes the document specified by the documentId for the AttachmentOrder specified by the Id
    # @param employer_id 
    # @param employee_id 
    # @param id 
    # @param document_id The Id of the Document you want to delete.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_document_attachment_order(employer_id, employee_id, id, document_id, opts = {})
      delete_document_attachment_order_with_http_info(employer_id, employee_id, id, document_id, opts)
      nil
    end

    # Delete AttachmentOrder Document
    # Deletes the document specified by the documentId for the AttachmentOrder specified by the Id
    # @param employer_id 
    # @param employee_id 
    # @param id 
    # @param document_id The Id of the Document you want to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_document_attachment_order_with_http_info(employer_id, employee_id, id, document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttachmentOrderApi.delete_document_attachment_order ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling AttachmentOrderApi.delete_document_attachment_order"
      end
      # verify the required parameter 'employee_id' is set
      if @api_client.config.client_side_validation && employee_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_id' when calling AttachmentOrderApi.delete_document_attachment_order"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttachmentOrderApi.delete_document_attachment_order"
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling AttachmentOrderApi.delete_document_attachment_order"
      end
      # resource path
      local_var_path = '/employers/{employerId}/employees/{employeeId}/attachmentorders/{id}/documents/{documentId}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'employeeId' + '}', employee_id.to_s).sub('{' + 'id' + '}', id.to_s).sub('{' + 'documentId' + '}', document_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttachmentOrderApi#delete_document_attachment_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get AttachmentOrder
    # Gets the AttachmentOrder specified by the Id for the Employee specified by the EmployeeId
    # @param employer_id 
    # @param employee_id 
    # @param id The Id of the AttachmentOrder you want to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [AttachmentOrder]
    def get_attachment_order(employer_id, employee_id, id, opts = {})
      data, _status_code, _headers = get_attachment_order_with_http_info(employer_id, employee_id, id, opts)
      data
    end

    # Get AttachmentOrder
    # Gets the AttachmentOrder specified by the Id for the Employee specified by the EmployeeId
    # @param employer_id 
    # @param employee_id 
    # @param id The Id of the AttachmentOrder you want to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttachmentOrder, Integer, Hash)>] AttachmentOrder data, response status code and response headers
    def get_attachment_order_with_http_info(employer_id, employee_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttachmentOrderApi.get_attachment_order ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling AttachmentOrderApi.get_attachment_order"
      end
      # verify the required parameter 'employee_id' is set
      if @api_client.config.client_side_validation && employee_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_id' when calling AttachmentOrderApi.get_attachment_order"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttachmentOrderApi.get_attachment_order"
      end
      # resource path
      local_var_path = '/employers/{employerId}/employees/{employeeId}/attachmentorders/{id}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'employeeId' + '}', employee_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'AttachmentOrder' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttachmentOrderApi#get_attachment_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get AttachmentOrder Document
    # Gets the document specified by the documentId for the AttachmentOrder specified by the Id
    # @param employer_id 
    # @param employee_id 
    # @param id 
    # @param document_id The Id of the Document you want to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [String]
    def get_document_attachment_order(employer_id, employee_id, id, document_id, opts = {})
      data, _status_code, _headers = get_document_attachment_order_with_http_info(employer_id, employee_id, id, document_id, opts)
      data
    end

    # Get AttachmentOrder Document
    # Gets the document specified by the documentId for the AttachmentOrder specified by the Id
    # @param employer_id 
    # @param employee_id 
    # @param id 
    # @param document_id The Id of the Document you want to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def get_document_attachment_order_with_http_info(employer_id, employee_id, id, document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttachmentOrderApi.get_document_attachment_order ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling AttachmentOrderApi.get_document_attachment_order"
      end
      # verify the required parameter 'employee_id' is set
      if @api_client.config.client_side_validation && employee_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_id' when calling AttachmentOrderApi.get_document_attachment_order"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttachmentOrderApi.get_document_attachment_order"
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling AttachmentOrderApi.get_document_attachment_order"
      end
      # resource path
      local_var_path = '/employers/{employerId}/employees/{employeeId}/attachmentorders/{id}/documents/{documentId}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'employeeId' + '}', employee_id.to_s).sub('{' + 'id' + '}', id.to_s).sub('{' + 'documentId' + '}', document_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'String' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttachmentOrderApi#get_document_attachment_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List AttachmentOrders
    # Lists all AttachmentOrders for the Employee
    # @param employer_id 
    # @param employee_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<Item>]
    def index_attachment_order(employer_id, employee_id, opts = {})
      data, _status_code, _headers = index_attachment_order_with_http_info(employer_id, employee_id, opts)
      data
    end

    # List AttachmentOrders
    # Lists all AttachmentOrders for the Employee
    # @param employer_id 
    # @param employee_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Item>, Integer, Hash)>] Array<Item> data, response status code and response headers
    def index_attachment_order_with_http_info(employer_id, employee_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttachmentOrderApi.index_attachment_order ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling AttachmentOrderApi.index_attachment_order"
      end
      # verify the required parameter 'employee_id' is set
      if @api_client.config.client_side_validation && employee_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_id' when calling AttachmentOrderApi.index_attachment_order"
      end
      # resource path
      local_var_path = '/employers/{employerId}/employees/{employeeId}/attachmentorders'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'employeeId' + '}', employee_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<Item>' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttachmentOrderApi#index_attachment_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Payments
    # Lists all Payments made to AttachmentOrders for the Employee in the given TaxYear
    # @param employer_id 
    # @param employee_id 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @return [Array<AttachmentOrderPayment>]
    def payments_attachment_order(employer_id, employee_id, tax_year, opts = {})
      data, _status_code, _headers = payments_attachment_order_with_http_info(employer_id, employee_id, tax_year, opts)
      data
    end

    # Get Payments
    # Lists all Payments made to AttachmentOrders for the Employee in the given TaxYear
    # @param employer_id 
    # @param employee_id 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AttachmentOrderPayment>, Integer, Hash)>] Array<AttachmentOrderPayment> data, response status code and response headers
    def payments_attachment_order_with_http_info(employer_id, employee_id, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttachmentOrderApi.payments_attachment_order ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling AttachmentOrderApi.payments_attachment_order"
      end
      # verify the required parameter 'employee_id' is set
      if @api_client.config.client_side_validation && employee_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_id' when calling AttachmentOrderApi.payments_attachment_order"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling AttachmentOrderApi.payments_attachment_order"
      end
      # resource path
      local_var_path = '/employers/{employerId}/employees/{employeeId}/attachmentorders/payments/{taxYear}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'employeeId' + '}', employee_id.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<AttachmentOrderPayment>' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttachmentOrderApi#payments_attachment_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update AttachmentOrder
    # @param employer_id 
    # @param employee_id 
    # @param id The Id of the AttachmentOrder you want to update.
    # @param [Hash] opts the optional parameters
    # @option opts [AttachmentOrder] :body 
    # @return [AttachmentOrder]
    def update_attachment_order(employer_id, employee_id, id, opts = {})
      data, _status_code, _headers = update_attachment_order_with_http_info(employer_id, employee_id, id, opts)
      data
    end

    # Update AttachmentOrder
    # @param employer_id 
    # @param employee_id 
    # @param id The Id of the AttachmentOrder you want to update.
    # @param [Hash] opts the optional parameters
    # @option opts [AttachmentOrder] :body 
    # @return [Array<(AttachmentOrder, Integer, Hash)>] AttachmentOrder data, response status code and response headers
    def update_attachment_order_with_http_info(employer_id, employee_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttachmentOrderApi.update_attachment_order ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling AttachmentOrderApi.update_attachment_order"
      end
      # verify the required parameter 'employee_id' is set
      if @api_client.config.client_side_validation && employee_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_id' when calling AttachmentOrderApi.update_attachment_order"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttachmentOrderApi.update_attachment_order"
      end
      # resource path
      local_var_path = '/employers/{employerId}/employees/{employeeId}/attachmentorders/{id}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'employeeId' + '}', employee_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'AttachmentOrder' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttachmentOrderApi#update_attachment_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
