=begin
#Staffology Payroll API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1
Contact: duane@staffology.co.uk
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.29
=end

module SwaggerClient
  class DepartmentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Department
    # Creates a new Department for the Employer.
    # @param employer_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Department] :body 
    # @return [Department]
    def create_department(employer_id, opts = {})
      data, _status_code, _headers = create_department_with_http_info(employer_id, opts)
      data
    end

    # Create Department
    # Creates a new Department for the Employer.
    # @param employer_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Department] :body 
    # @return [Array<(Department, Integer, Hash)>] Department data, response status code and response headers
    def create_department_with_http_info(employer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DepartmentApi.create_department ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling DepartmentApi.create_department"
      end
      # resource path
      local_var_path = '/employers/{employerId}/departments'.sub('{' + 'employerId' + '}', employer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'Department' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DepartmentApi#create_department\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Department
    # Deletes the specified Department.
    # @param employer_id 
    # @param code 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_department(employer_id, code, opts = {})
      delete_department_with_http_info(employer_id, code, opts)
      nil
    end

    # Delete Department
    # Deletes the specified Department.
    # @param employer_id 
    # @param code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_department_with_http_info(employer_id, code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DepartmentApi.delete_department ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling DepartmentApi.delete_department"
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling DepartmentApi.delete_department"
      end
      # resource path
      local_var_path = '/employers/{employerId}/departments/{code}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'code' + '}', code.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DepartmentApi#delete_department\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Department
    # Gets the Department specified.
    # @param employer_id The Id of the Employer to which the Department belongs.
    # @param code 
    # @param [Hash] opts the optional parameters
    # @return [Department]
    def get_department(employer_id, code, opts = {})
      data, _status_code, _headers = get_department_with_http_info(employer_id, code, opts)
      data
    end

    # Get Department
    # Gets the Department specified.
    # @param employer_id The Id of the Employer to which the Department belongs.
    # @param code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Department, Integer, Hash)>] Department data, response status code and response headers
    def get_department_with_http_info(employer_id, code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DepartmentApi.get_department ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling DepartmentApi.get_department"
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling DepartmentApi.get_department"
      end
      # resource path
      local_var_path = '/employers/{employerId}/departments/{code}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'code' + '}', code.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Department' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DepartmentApi#get_department\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Departments
    # Lists all Departments for an Employer.
    # @param employer_id The Id of the Employer for which you want to list Departments
    # @param [Hash] opts the optional parameters
    # @return [Array<Item>]
    def index_department(employer_id, opts = {})
      data, _status_code, _headers = index_department_with_http_info(employer_id, opts)
      data
    end

    # List Departments
    # Lists all Departments for an Employer.
    # @param employer_id The Id of the Employer for which you want to list Departments
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Item>, Integer, Hash)>] Array<Item> data, response status code and response headers
    def index_department_with_http_info(employer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DepartmentApi.index_department ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling DepartmentApi.index_department"
      end
      # resource path
      local_var_path = '/employers/{employerId}/departments'.sub('{' + 'employerId' + '}', employer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<Item>' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DepartmentApi#index_department\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Department
    # Updates a Department for the Employer.
    # @param employer_id 
    # @param code 
    # @param [Hash] opts the optional parameters
    # @option opts [Department] :body 
    # @return [Department]
    def update_department(employer_id, code, opts = {})
      data, _status_code, _headers = update_department_with_http_info(employer_id, code, opts)
      data
    end

    # Update Department
    # Updates a Department for the Employer.
    # @param employer_id 
    # @param code 
    # @param [Hash] opts the optional parameters
    # @option opts [Department] :body 
    # @return [Array<(Department, Integer, Hash)>] Department data, response status code and response headers
    def update_department_with_http_info(employer_id, code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DepartmentApi.update_department ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling DepartmentApi.update_department"
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling DepartmentApi.update_department"
      end
      # resource path
      local_var_path = '/employers/{employerId}/departments/{code}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'code' + '}', code.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'Department' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DepartmentApi#update_department\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
