=begin
#Staffology Payroll API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1
Contact: duane@staffology.co.uk
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.29
=end

module SwaggerClient
  class EmailApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Email
    # Returns the email along with its status.
    # @param employer_id 
    # @param email_id 
    # @param [Hash] opts the optional parameters
    # @return [EmployerEmail]
    def get_email_email(employer_id, email_id, opts = {})
      data, _status_code, _headers = get_email_email_with_http_info(employer_id, email_id, opts)
      data
    end

    # Get Email
    # Returns the email along with its status.
    # @param employer_id 
    # @param email_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmployerEmail, Integer, Hash)>] EmployerEmail data, response status code and response headers
    def get_email_email_with_http_info(employer_id, email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.get_email_email ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling EmailApi.get_email_email"
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailApi.get_email_email"
      end
      # resource path
      local_var_path = '/employers/{employerId}/email/{emailId}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'emailId' + '}', email_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'EmployerEmail' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#get_email_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get MailSettings
    # Returns the MailSettings for an Employer.
    # @param employer_id The Id of the Employer
    # @param [Hash] opts the optional parameters
    # @return [MailSettings]
    def get_mail_settings_email(employer_id, opts = {})
      data, _status_code, _headers = get_mail_settings_email_with_http_info(employer_id, opts)
      data
    end

    # Get MailSettings
    # Returns the MailSettings for an Employer.
    # @param employer_id The Id of the Employer
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailSettings, Integer, Hash)>] MailSettings data, response status code and response headers
    def get_mail_settings_email_with_http_info(employer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.get_mail_settings_email ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling EmailApi.get_mail_settings_email"
      end
      # resource path
      local_var_path = '/employers/{employerId}/email/settings'.sub('{' + 'employerId' + '}', employer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'MailSettings' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#get_mail_settings_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Emails
    # Returns a list of all emails sent for this Employer.
    # @param employer_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_num 
    # @option opts [Integer] :page_size 
    # @return [Array<Item>]
    def index_email(employer_id, opts = {})
      data, _status_code, _headers = index_email_with_http_info(employer_id, opts)
      data
    end

    # List Emails
    # Returns a list of all emails sent for this Employer.
    # @param employer_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_num 
    # @option opts [Integer] :page_size 
    # @return [Array<(Array<Item>, Integer, Hash)>] Array<Item> data, response status code and response headers
    def index_email_with_http_info(employer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.index_email ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling EmailApi.index_email"
      end
      # resource path
      local_var_path = '/employers/{employerId}/email'.sub('{' + 'employerId' + '}', employer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pageNum'] = opts[:'page_num'] if !opts[:'page_num'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<Item>' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#index_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Re-send Email
    # Re-send an existing email.\\n
    # @param employer_id 
    # @param email_id 
    # @param [Hash] opts the optional parameters
    # @return [EmployerEmail]
    def resend_email_email(employer_id, email_id, opts = {})
      data, _status_code, _headers = resend_email_email_with_http_info(employer_id, email_id, opts)
      data
    end

    # Re-send Email
    # Re-send an existing email.\\n
    # @param employer_id 
    # @param email_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmployerEmail, Integer, Hash)>] EmployerEmail data, response status code and response headers
    def resend_email_email_with_http_info(employer_id, email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.resend_email_email ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling EmailApi.resend_email_email"
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailApi.resend_email_email"
      end
      # resource path
      local_var_path = '/employers/{employerId}/email/{emailId}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'emailId' + '}', email_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'EmployerEmail' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#resend_email_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Send Test Email
    # This API call will generate a test email based on your MailSettings.
    # @param employer_id The Id of the Employer
    # @param [Hash] opts the optional parameters
    # @option opts [String] :email The address to send a test email to
    # @return [EmployerEmail]
    def test_mail_settings_email(employer_id, opts = {})
      data, _status_code, _headers = test_mail_settings_email_with_http_info(employer_id, opts)
      data
    end

    # Send Test Email
    # This API call will generate a test email based on your MailSettings.
    # @param employer_id The Id of the Employer
    # @param [Hash] opts the optional parameters
    # @option opts [String] :email The address to send a test email to
    # @return [Array<(EmployerEmail, Integer, Hash)>] EmployerEmail data, response status code and response headers
    def test_mail_settings_email_with_http_info(employer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.test_mail_settings_email ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling EmailApi.test_mail_settings_email"
      end
      # resource path
      local_var_path = '/employers/{employerId}/email/settings/test'.sub('{' + 'employerId' + '}', employer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'EmployerEmail' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#test_mail_settings_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update MailSettings
    # Updates the MailSettings for an Employer.
    # @param employer_id The Id of the Employer
    # @param [Hash] opts the optional parameters
    # @option opts [MailSettings] :body 
    # @return [MailSettings]
    def update_mail_settings_email(employer_id, opts = {})
      data, _status_code, _headers = update_mail_settings_email_with_http_info(employer_id, opts)
      data
    end

    # Update MailSettings
    # Updates the MailSettings for an Employer.
    # @param employer_id The Id of the Employer
    # @param [Hash] opts the optional parameters
    # @option opts [MailSettings] :body 
    # @return [Array<(MailSettings, Integer, Hash)>] MailSettings data, response status code and response headers
    def update_mail_settings_email_with_http_info(employer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.update_mail_settings_email ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling EmailApi.update_mail_settings_email"
      end
      # resource path
      local_var_path = '/employers/{employerId}/email/settings'.sub('{' + 'employerId' + '}', employer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'MailSettings' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#update_mail_settings_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Email Verification (Request)
    # If the user attempts to use a non-verified email address in their MailSettings then we'll send them a verification email.  This API endpoint can be used to re-send the email.
    # @param employer_id The Id of the Employer
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def verify_mail_settings_email(employer_id, opts = {})
      verify_mail_settings_email_with_http_info(employer_id, opts)
      nil
    end

    # Email Verification (Request)
    # If the user attempts to use a non-verified email address in their MailSettings then we&#x27;ll send them a verification email.  This API endpoint can be used to re-send the email.
    # @param employer_id The Id of the Employer
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def verify_mail_settings_email_with_http_info(employer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.verify_mail_settings_email ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling EmailApi.verify_mail_settings_email"
      end
      # resource path
      local_var_path = '/employers/{employerId}/email/settings/verify'.sub('{' + 'employerId' + '}', employer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#verify_mail_settings_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Email Verification (Respond)
    # Used to process the link sent in an email to verify an email address that's being used in MailSettings.\\n
    # @param employer_id The employer Id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :u The value from the link in the email.
    # @option opts [String] :k The value from the link in the email.
    # @return [BOOLEAN]
    def verify_mail_settings_response_email(employer_id, opts = {})
      data, _status_code, _headers = verify_mail_settings_response_email_with_http_info(employer_id, opts)
      data
    end

    # Email Verification (Respond)
    # Used to process the link sent in an email to verify an email address that&#x27;s being used in MailSettings.\\n
    # @param employer_id The employer Id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :u The value from the link in the email.
    # @option opts [String] :k The value from the link in the email.
    # @return [Array<(BOOLEAN, Integer, Hash)>] BOOLEAN data, response status code and response headers
    def verify_mail_settings_response_email_with_http_info(employer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.verify_mail_settings_response_email ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling EmailApi.verify_mail_settings_response_email"
      end
      # resource path
      local_var_path = '/employers/{employerId}/email/settings/verify'.sub('{' + 'employerId' + '}', employer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'u'] = opts[:'u'] if !opts[:'u'].nil?
      query_params[:'k'] = opts[:'k'] if !opts[:'k'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'BOOLEAN' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#verify_mail_settings_response_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
