=begin
#Staffology Payroll API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1
Contact: duane@staffology.co.uk
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.29
=end

module SwaggerClient
  class PayRunApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List AttachmentOrders related to a PayRun
    # Returns a List of Items representing any AttachmentOrders within the PayRun date range for Employees that are included in the given PayRun.\\n
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [Array<Item>]
    def aeo_pay_run(employer_id, pay_period, period_number, tax_year, opts = {})
      data, _status_code, _headers = aeo_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts)
      data
    end

    # List AttachmentOrders related to a PayRun
    # Returns a List of Items representing any AttachmentOrders within the PayRun date range for Employees that are included in the given PayRun.\\n
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal 
    # @return [Array<(Array<Item>, Integer, Hash)>] Array<Item> data, response status code and response headers
    def aeo_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.aeo_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.aeo_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.aeo_pay_run"
      end
      # verify the required parameter 'period_number' is set
      if @api_client.config.client_side_validation && period_number.nil?
        fail ArgumentError, "Missing the required parameter 'period_number' when calling PayRunApi.aeo_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.aeo_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}/{periodNumber}/aeo'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'periodNumber' + '}', period_number.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<Item>' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#aeo_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List PayRun Changes for PayRunEntry
    # Returns a list of AuditEntry reflecting changes made to a PayRunEntry and related employee record for a given PayRun  \\nThis endpoint is currently being beta tested and subject to un-announced breaking changes.
    # @param employer_id 
    # @param id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal  (default to 1)
    # @option opts [BOOLEAN] :significant_changes_only  (default to false)
    # @return [Array<AuditEntryInfo>]
    def changes_for_pay_run_entry_pay_run(employer_id, id, pay_period, period_number, tax_year, opts = {})
      data, _status_code, _headers = changes_for_pay_run_entry_pay_run_with_http_info(employer_id, id, pay_period, period_number, tax_year, opts)
      data
    end

    # List PayRun Changes for PayRunEntry
    # Returns a list of AuditEntry reflecting changes made to a PayRunEntry and related employee record for a given PayRun  \\nThis endpoint is currently being beta tested and subject to un-announced breaking changes.
    # @param employer_id 
    # @param id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal 
    # @option opts [BOOLEAN] :significant_changes_only 
    # @return [Array<(Array<AuditEntryInfo>, Integer, Hash)>] Array<AuditEntryInfo> data, response status code and response headers
    def changes_for_pay_run_entry_pay_run_with_http_info(employer_id, id, pay_period, period_number, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.changes_for_pay_run_entry_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.changes_for_pay_run_entry_pay_run"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayRunApi.changes_for_pay_run_entry_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.changes_for_pay_run_entry_pay_run"
      end
      # verify the required parameter 'period_number' is set
      if @api_client.config.client_side_validation && period_number.nil?
        fail ArgumentError, "Missing the required parameter 'period_number' when calling PayRunApi.changes_for_pay_run_entry_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.changes_for_pay_run_entry_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}/{periodNumber}/{id}/changes'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'id' + '}', id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'periodNumber' + '}', period_number.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?
      query_params[:'significantChangesOnly'] = opts[:'significant_changes_only'] if !opts[:'significant_changes_only'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<AuditEntryInfo>' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#changes_for_pay_run_entry_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List PayRun Changes
    # Returns a of changes made to a payrun.\\nThis endpoint is currently being beta tested and subject to un-announced breaking changes.
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal  (default to 1)
    # @option opts [BOOLEAN] :verbose By default you will just receive a list of employees that have changed.\\n              If you want a list of the changes too then set this to true (default to false)
    # @return [PayRunModifications]
    def changes_pay_run(employer_id, pay_period, period_number, tax_year, opts = {})
      data, _status_code, _headers = changes_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts)
      data
    end

    # List PayRun Changes
    # Returns a of changes made to a payrun.\\nThis endpoint is currently being beta tested and subject to un-announced breaking changes.
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal 
    # @option opts [BOOLEAN] :verbose By default you will just receive a list of employees that have changed.\\n              If you want a list of the changes too then set this to true
    # @return [Array<(PayRunModifications, Integer, Hash)>] PayRunModifications data, response status code and response headers
    def changes_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.changes_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.changes_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.changes_pay_run"
      end
      # verify the required parameter 'period_number' is set
      if @api_client.config.client_side_validation && period_number.nil?
        fail ArgumentError, "Missing the required parameter 'period_number' when calling PayRunApi.changes_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.changes_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}/{periodNumber}/changes'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'periodNumber' + '}', period_number.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?
      query_params[:'verbose'] = opts[:'verbose'] if !opts[:'verbose'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'PayRunModifications' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#changes_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Starts the next PayRun
    # @param employer_id 
    # @param pay_period 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [PayRun]
    def create_next_pay_run_pay_run(employer_id, pay_period, tax_year, opts = {})
      data, _status_code, _headers = create_next_pay_run_pay_run_with_http_info(employer_id, pay_period, tax_year, opts)
      data
    end

    # Starts the next PayRun
    # @param employer_id 
    # @param pay_period 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal 
    # @return [Array<(PayRun, Integer, Hash)>] PayRun data, response status code and response headers
    def create_next_pay_run_pay_run_with_http_info(employer_id, pay_period, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.create_next_pay_run_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.create_next_pay_run_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.create_next_pay_run_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.create_next_pay_run_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'PayRun' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#create_next_pay_run_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a PayRun
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [nil]
    def delete_pay_run(employer_id, pay_period, period_number, tax_year, opts = {})
      delete_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts)
      nil
    end

    # Delete a PayRun
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.delete_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.delete_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.delete_pay_run"
      end
      # verify the required parameter 'period_number' is set
      if @api_client.config.client_side_validation && period_number.nil?
        fail ArgumentError, "Missing the required parameter 'period_number' when calling PayRunApi.delete_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.delete_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}/{periodNumber}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'periodNumber' + '}', period_number.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#delete_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Finalise a PayRun (deprecated)
    # This endpoint is now deprecated and will be removed in Jan 2022.\\n  You should instead use the Update method and set the State to Finalised.    Returns True if the resulting FPS has been automatically submitted due to the Employers RTISubmissionSettings, otherwise returns false.\\n  You can suppress the emailing of payslips to employees by adding a key named dontEmailEmployeePayslips with a value of true to the body. See the related guides for more information.
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Hash<String, null>] :body 
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [BOOLEAN]
    def finalise_pay_run_pay_run(employer_id, pay_period, period_number, tax_year, opts = {})
      data, _status_code, _headers = finalise_pay_run_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts)
      data
    end

    # Finalise a PayRun (deprecated)
    # This endpoint is now deprecated and will be removed in Jan 2022.\\n  You should instead use the Update method and set the State to Finalised.    Returns True if the resulting FPS has been automatically submitted due to the Employers RTISubmissionSettings, otherwise returns false.\\n  You can suppress the emailing of payslips to employees by adding a key named dontEmailEmployeePayslips with a value of true to the body. See the related guides for more information.
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Hash<String, null>] :body 
    # @option opts [Integer] :ordinal 
    # @return [Array<(BOOLEAN, Integer, Hash)>] BOOLEAN data, response status code and response headers
    def finalise_pay_run_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.finalise_pay_run_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.finalise_pay_run_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.finalise_pay_run_pay_run"
      end
      # verify the required parameter 'period_number' is set
      if @api_client.config.client_side_validation && period_number.nil?
        fail ArgumentError, "Missing the required parameter 'period_number' when calling PayRunApi.finalise_pay_run_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.finalise_pay_run_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}/{periodNumber}/finalise'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'periodNumber' + '}', period_number.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'BOOLEAN' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#finalise_pay_run_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a PayRunEntry
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [PayRunEntry]
    def get_pay_run_entry_pay_run(employer_id, pay_period, period_number, tax_year, id, opts = {})
      data, _status_code, _headers = get_pay_run_entry_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, id, opts)
      data
    end

    # Get a PayRunEntry
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal 
    # @return [Array<(PayRunEntry, Integer, Hash)>] PayRunEntry data, response status code and response headers
    def get_pay_run_entry_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.get_pay_run_entry_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.get_pay_run_entry_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.get_pay_run_entry_pay_run"
      end
      # verify the required parameter 'period_number' is set
      if @api_client.config.client_side_validation && period_number.nil?
        fail ArgumentError, "Missing the required parameter 'period_number' when calling PayRunApi.get_pay_run_entry_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.get_pay_run_entry_pay_run"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayRunApi.get_pay_run_entry_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}/{periodNumber}/{id}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'periodNumber' + '}', period_number.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'PayRunEntry' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#get_pay_run_entry_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get PayPeriodEvents
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [Array<PaySchedulePeriodEvent>]
    def get_pay_run_events_pay_run(employer_id, pay_period, period_number, tax_year, opts = {})
      data, _status_code, _headers = get_pay_run_events_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts)
      data
    end

    # Get PayPeriodEvents
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal 
    # @return [Array<(Array<PaySchedulePeriodEvent>, Integer, Hash)>] Array<PaySchedulePeriodEvent> data, response status code and response headers
    def get_pay_run_events_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.get_pay_run_events_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.get_pay_run_events_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.get_pay_run_events_pay_run"
      end
      # verify the required parameter 'period_number' is set
      if @api_client.config.client_side_validation && period_number.nil?
        fail ArgumentError, "Missing the required parameter 'period_number' when calling PayRunApi.get_pay_run_events_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.get_pay_run_events_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}/{periodNumber}/events'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'periodNumber' + '}', period_number.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<PaySchedulePeriodEvent>' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#get_pay_run_events_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Journal for PayRun
    # Returns values that can be used to create accounting entries for this PayRun.
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal  (default to 1)
    # @option opts [BOOLEAN] :dept_breakdown Set to true and the journal will be split between any relevant Departments (default to false)
    # @return [PayRunJournal]
    def get_pay_run_journal_pay_run(employer_id, pay_period, period_number, tax_year, opts = {})
      data, _status_code, _headers = get_pay_run_journal_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts)
      data
    end

    # Get Journal for PayRun
    # Returns values that can be used to create accounting entries for this PayRun.
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal 
    # @option opts [BOOLEAN] :dept_breakdown Set to true and the journal will be split between any relevant Departments
    # @return [Array<(PayRunJournal, Integer, Hash)>] PayRunJournal data, response status code and response headers
    def get_pay_run_journal_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.get_pay_run_journal_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.get_pay_run_journal_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.get_pay_run_journal_pay_run"
      end
      # verify the required parameter 'period_number' is set
      if @api_client.config.client_side_validation && period_number.nil?
        fail ArgumentError, "Missing the required parameter 'period_number' when calling PayRunApi.get_pay_run_journal_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.get_pay_run_journal_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}/{periodNumber}/journal'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'periodNumber' + '}', period_number.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?
      query_params[:'deptBreakdown'] = opts[:'dept_breakdown'] if !opts[:'dept_breakdown'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'PayRunJournal' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#get_pay_run_journal_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get PayCodes for a PayRun
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [Array<PayCode>]
    def get_pay_run_pay_codes_pay_run(employer_id, pay_period, period_number, tax_year, opts = {})
      data, _status_code, _headers = get_pay_run_pay_codes_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts)
      data
    end

    # Get PayCodes for a PayRun
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal 
    # @return [Array<(Array<PayCode>, Integer, Hash)>] Array<PayCode> data, response status code and response headers
    def get_pay_run_pay_codes_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.get_pay_run_pay_codes_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.get_pay_run_pay_codes_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.get_pay_run_pay_codes_pay_run"
      end
      # verify the required parameter 'period_number' is set
      if @api_client.config.client_side_validation && period_number.nil?
        fail ArgumentError, "Missing the required parameter 'period_number' when calling PayRunApi.get_pay_run_pay_codes_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.get_pay_run_pay_codes_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}/{periodNumber}/paycodes'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'periodNumber' + '}', period_number.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<PayCode>' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#get_pay_run_pay_codes_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a PayRun
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [PayRun]
    def get_pay_run_pay_run(employer_id, pay_period, period_number, tax_year, opts = {})
      data, _status_code, _headers = get_pay_run_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts)
      data
    end

    # Get a PayRun
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal 
    # @return [Array<(PayRun, Integer, Hash)>] PayRun data, response status code and response headers
    def get_pay_run_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.get_pay_run_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.get_pay_run_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.get_pay_run_pay_run"
      end
      # verify the required parameter 'period_number' is set
      if @api_client.config.client_side_validation && period_number.nil?
        fail ArgumentError, "Missing the required parameter 'period_number' when calling PayRunApi.get_pay_run_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.get_pay_run_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}/{periodNumber}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'periodNumber' + '}', period_number.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'PayRun' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#get_pay_run_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List PayRuns
    # @param employer_id 
    # @param pay_period 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [Array<Item>]
    def get_pay_runs_pay_run(employer_id, pay_period, tax_year, opts = {})
      data, _status_code, _headers = get_pay_runs_pay_run_with_http_info(employer_id, pay_period, tax_year, opts)
      data
    end

    # List PayRuns
    # @param employer_id 
    # @param pay_period 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal 
    # @return [Array<(Array<Item>, Integer, Hash)>] Array<Item> data, response status code and response headers
    def get_pay_runs_pay_run_with_http_info(employer_id, pay_period, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.get_pay_runs_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.get_pay_runs_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.get_pay_runs_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.get_pay_runs_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<Item>' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#get_pay_runs_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Import Pay
    # Takes a list PayOptionsImport and updates the currently open payrun to use the amounts given.\\n  You must have an open payrun for the PayPeriod specified and all payroll codes submitted must match an employee on the payrun.\\n  Any lines imported for a PayRunEntry will replace existing lines for that PayRunEntry.
    # @param employer_id 
    # @param pay_period 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<PayOptionsImport>] :body 
    # @option opts [Integer] :ordinal  (default to 1)
    # @option opts [BOOLEAN] :lines_only If set to true then only lines will be imported. Changes to regular pay will be ignored. Defaults to false. (default to false)
    # @option opts [BOOLEAN] :append If set to true then the lines submitted will be appended to existing lines rather than replace them. Defaults to false. (default to false)
    # @return [PayRunEntry]
    def import_pay_pay_run(employer_id, pay_period, opts = {})
      data, _status_code, _headers = import_pay_pay_run_with_http_info(employer_id, pay_period, opts)
      data
    end

    # Import Pay
    # Takes a list PayOptionsImport and updates the currently open payrun to use the amounts given.\\n  You must have an open payrun for the PayPeriod specified and all payroll codes submitted must match an employee on the payrun.\\n  Any lines imported for a PayRunEntry will replace existing lines for that PayRunEntry.
    # @param employer_id 
    # @param pay_period 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<PayOptionsImport>] :body 
    # @option opts [Integer] :ordinal 
    # @option opts [BOOLEAN] :lines_only If set to true then only lines will be imported. Changes to regular pay will be ignored. Defaults to false.
    # @option opts [BOOLEAN] :append If set to true then the lines submitted will be appended to existing lines rather than replace them. Defaults to false.
    # @return [Array<(PayRunEntry, Integer, Hash)>] PayRunEntry data, response status code and response headers
    def import_pay_pay_run_with_http_info(employer_id, pay_period, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.import_pay_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.import_pay_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.import_pay_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{payPeriod}/importpay'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?
      query_params[:'linesOnly'] = opts[:'lines_only'] if !opts[:'lines_only'].nil?
      query_params[:'append'] = opts[:'append'] if !opts[:'append'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'PayRunEntry' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#import_pay_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Import Time And Attendance
    # If the employer is connected to an ExternalDataProvider that provides Time and Attendance data then this API  call will update the currently open payrun for the PayPeriod specified with data from the specified provider.\\n  Returns a list of PayOptionsImport to show what's been imported.
    # @param employer_id 
    # @param pay_period 
    # @param [Hash] opts the optional parameters
    # @option opts [ExternalDataProviderId] :provider_id 
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [Array<PayOptionsImport>]
    def import_time_and_attendance_pay_run(employer_id, pay_period, opts = {})
      data, _status_code, _headers = import_time_and_attendance_pay_run_with_http_info(employer_id, pay_period, opts)
      data
    end

    # Import Time And Attendance
    # If the employer is connected to an ExternalDataProvider that provides Time and Attendance data then this API  call will update the currently open payrun for the PayPeriod specified with data from the specified provider.\\n  Returns a list of PayOptionsImport to show what&#x27;s been imported.
    # @param employer_id 
    # @param pay_period 
    # @param [Hash] opts the optional parameters
    # @option opts [ExternalDataProviderId] :provider_id 
    # @option opts [Integer] :ordinal 
    # @return [Array<(Array<PayOptionsImport>, Integer, Hash)>] Array<PayOptionsImport> data, response status code and response headers
    def import_time_and_attendance_pay_run_with_http_info(employer_id, pay_period, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.import_time_and_attendance_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.import_time_and_attendance_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.import_time_and_attendance_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{payPeriod}/importtimeandattendance'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'providerId'] = opts[:'provider_id'] if !opts[:'provider_id'].nil?
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<PayOptionsImport>' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#import_time_and_attendance_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Import Umbrella Pay
    # Takes a list UmbrellaPayment and updates the currently open payrun to use the amounts given.\\n  You must have an open payrun for the PayPeriod specified and all payroll codes submitted must match an employee on the payrun.\\n  You should have also set the UmbrellaSettings for the Employer
    # @param employer_id 
    # @param pay_period 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<UmbrellaPayment>] :body 
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [PayRunEntry]
    def import_umbrella_pay_pay_run(employer_id, pay_period, opts = {})
      data, _status_code, _headers = import_umbrella_pay_pay_run_with_http_info(employer_id, pay_period, opts)
      data
    end

    # Import Umbrella Pay
    # Takes a list UmbrellaPayment and updates the currently open payrun to use the amounts given.\\n  You must have an open payrun for the PayPeriod specified and all payroll codes submitted must match an employee on the payrun.\\n  You should have also set the UmbrellaSettings for the Employer
    # @param employer_id 
    # @param pay_period 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<UmbrellaPayment>] :body 
    # @option opts [Integer] :ordinal 
    # @return [Array<(PayRunEntry, Integer, Hash)>] PayRunEntry data, response status code and response headers
    def import_umbrella_pay_pay_run_with_http_info(employer_id, pay_period, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.import_umbrella_pay_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.import_umbrella_pay_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.import_umbrella_pay_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{payPeriod}/importumbrellapay'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'PayRunEntry' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#import_umbrella_pay_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Leave related to a PayRun
    # Returns a List of Items representing any Leave within the PayRun date range for Employees that are included in the given PayRun.\\n  Note that if Leave was added after the PayRun was closed, but the Leave is within the PayRun period then it'll be returned here even though it wouldn't have been processed with the PayRun.
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [Array<Item>]
    def leave_pay_run(employer_id, pay_period, period_number, tax_year, opts = {})
      data, _status_code, _headers = leave_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts)
      data
    end

    # List Leave related to a PayRun
    # Returns a List of Items representing any Leave within the PayRun date range for Employees that are included in the given PayRun.\\n  Note that if Leave was added after the PayRun was closed, but the Leave is within the PayRun period then it&#x27;ll be returned here even though it wouldn&#x27;t have been processed with the PayRun.
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal 
    # @return [Array<(Array<Item>, Integer, Hash)>] Array<Item> data, response status code and response headers
    def leave_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.leave_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.leave_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.leave_pay_run"
      end
      # verify the required parameter 'period_number' is set
      if @api_client.config.client_side_validation && period_number.nil?
        fail ArgumentError, "Missing the required parameter 'period_number' when calling PayRunApi.leave_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.leave_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}/{periodNumber}/leave'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'periodNumber' + '}', period_number.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<Item>' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#leave_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # PayRunEntry Umbrella Payment
    # Automatically sets the values on the PayRunEntry based on an UmbrellaPayment.\\n  Using this method overwrites any existing values for the PayRunEntry.
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [UmbrellaPayment] :body 
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [PayRunEntry]
    def pay_run_entry_umbrella_payment_pay_run(employer_id, pay_period, period_number, tax_year, id, opts = {})
      data, _status_code, _headers = pay_run_entry_umbrella_payment_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, id, opts)
      data
    end

    # PayRunEntry Umbrella Payment
    # Automatically sets the values on the PayRunEntry based on an UmbrellaPayment.\\n  Using this method overwrites any existing values for the PayRunEntry.
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [UmbrellaPayment] :body 
    # @option opts [Integer] :ordinal 
    # @return [Array<(PayRunEntry, Integer, Hash)>] PayRunEntry data, response status code and response headers
    def pay_run_entry_umbrella_payment_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.pay_run_entry_umbrella_payment_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.pay_run_entry_umbrella_payment_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.pay_run_entry_umbrella_payment_pay_run"
      end
      # verify the required parameter 'period_number' is set
      if @api_client.config.client_side_validation && period_number.nil?
        fail ArgumentError, "Missing the required parameter 'period_number' when calling PayRunApi.pay_run_entry_umbrella_payment_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.pay_run_entry_umbrella_payment_pay_run"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayRunApi.pay_run_entry_umbrella_payment_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}/{periodNumber}/{id}/umbrella'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'periodNumber' + '}', period_number.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'PayRunEntry' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#pay_run_entry_umbrella_payment_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Re-open a PayRun (deprecated)
    # This endpoint is now deprecated and will be removed in Jan 2022. \\n  You should instead use the Update method and set the State to Open.    Re-opens a PayRun so that it can be edited.\\n  Only the most recent PayRun can be re-opened, and only if the Employer is still in the same TaxYear as the PayRun and there are no open PayRuns.
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [PayRun]
    def re_open_pay_run_pay_run(employer_id, pay_period, period_number, tax_year, opts = {})
      data, _status_code, _headers = re_open_pay_run_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts)
      data
    end

    # Re-open a PayRun (deprecated)
    # This endpoint is now deprecated and will be removed in Jan 2022. \\n  You should instead use the Update method and set the State to Open.    Re-opens a PayRun so that it can be edited.\\n  Only the most recent PayRun can be re-opened, and only if the Employer is still in the same TaxYear as the PayRun and there are no open PayRuns.
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal 
    # @return [Array<(PayRun, Integer, Hash)>] PayRun data, response status code and response headers
    def re_open_pay_run_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.re_open_pay_run_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.re_open_pay_run_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.re_open_pay_run_pay_run"
      end
      # verify the required parameter 'period_number' is set
      if @api_client.config.client_side_validation && period_number.nil?
        fail ArgumentError, "Missing the required parameter 'period_number' when calling PayRunApi.re_open_pay_run_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.re_open_pay_run_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}/{periodNumber}/reopen'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'periodNumber' + '}', period_number.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'PayRun' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#re_open_pay_run_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # (Re)send Payslip Emails
    # Payslips are usually emailed automatically when a PayRun is finalised. But if you suppressed them or need to re-send them then you can do so with this API call.
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [nil]
    def send_payslip_emails_pay_run(employer_id, pay_period, period_number, tax_year, opts = {})
      send_payslip_emails_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts)
      nil
    end

    # (Re)send Payslip Emails
    # Payslips are usually emailed automatically when a PayRun is finalised. But if you suppressed them or need to re-send them then you can do so with this API call.
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def send_payslip_emails_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.send_payslip_emails_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.send_payslip_emails_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.send_payslip_emails_pay_run"
      end
      # verify the required parameter 'period_number' is set
      if @api_client.config.client_side_validation && period_number.nil?
        fail ArgumentError, "Missing the required parameter 'period_number' when calling PayRunApi.send_payslip_emails_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.send_payslip_emails_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}/{periodNumber}/email'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'periodNumber' + '}', period_number.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#send_payslip_emails_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Starts the next PayRun (deprecated)
    # This PUT will be removed in Jan 2022. You should instead use a POST to this URL
    # @param employer_id 
    # @param pay_period 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [nil]
    def start_next_pay_run_pay_run(employer_id, pay_period, tax_year, opts = {})
      start_next_pay_run_pay_run_with_http_info(employer_id, pay_period, tax_year, opts)
      nil
    end

    # Starts the next PayRun (deprecated)
    # This PUT will be removed in Jan 2022. You should instead use a POST to this URL
    # @param employer_id 
    # @param pay_period 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :ordinal 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def start_next_pay_run_pay_run_with_http_info(employer_id, pay_period, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.start_next_pay_run_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.start_next_pay_run_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.start_next_pay_run_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.start_next_pay_run_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#start_next_pay_run_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update a PayRunEntry
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [PayRunEntry] :body 
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [PayRunEntry]
    def update_pay_run_entry_pay_run(employer_id, pay_period, period_number, tax_year, id, opts = {})
      data, _status_code, _headers = update_pay_run_entry_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, id, opts)
      data
    end

    # Update a PayRunEntry
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [PayRunEntry] :body 
    # @option opts [Integer] :ordinal 
    # @return [Array<(PayRunEntry, Integer, Hash)>] PayRunEntry data, response status code and response headers
    def update_pay_run_entry_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.update_pay_run_entry_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.update_pay_run_entry_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.update_pay_run_entry_pay_run"
      end
      # verify the required parameter 'period_number' is set
      if @api_client.config.client_side_validation && period_number.nil?
        fail ArgumentError, "Missing the required parameter 'period_number' when calling PayRunApi.update_pay_run_entry_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.update_pay_run_entry_pay_run"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayRunApi.update_pay_run_entry_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}/{periodNumber}/{id}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'periodNumber' + '}', period_number.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'PayRunEntry' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#update_pay_run_entry_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update PayRun
    # Updates a PayRun to the state provided along with the reason (optional) for the change.
    # @param employer_id 
    # @param tax_year 
    # @param pay_period 
    # @param period_number 
    # @param [Hash] opts the optional parameters
    # @option opts [PayRunStateChange] :body Specify the PayRun state you want to change to and the reason for the change.
    # Only Open and Finalised states are available at the moment.
    # Other states are used with Bureau functionality which isn&#x27;t currently generally available.
    # @option opts [Integer] :ordinal  (default to 1)
    # @option opts [BOOLEAN] :send_payslip_emails Only relevant if setting the State to Finalised. Set to true if you want to have payslips emailed to employees. (default to false)
    # @return [PayRun]
    def update_pay_run_pay_run(employer_id, tax_year, pay_period, period_number, opts = {})
      data, _status_code, _headers = update_pay_run_pay_run_with_http_info(employer_id, tax_year, pay_period, period_number, opts)
      data
    end

    # Update PayRun
    # Updates a PayRun to the state provided along with the reason (optional) for the change.
    # @param employer_id 
    # @param tax_year 
    # @param pay_period 
    # @param period_number 
    # @param [Hash] opts the optional parameters
    # @option opts [PayRunStateChange] :body Specify the PayRun state you want to change to and the reason for the change.
    # Only Open and Finalised states are available at the moment.
    # Other states are used with Bureau functionality which isn&#x27;t currently generally available.
    # @option opts [Integer] :ordinal 
    # @option opts [BOOLEAN] :send_payslip_emails Only relevant if setting the State to Finalised. Set to true if you want to have payslips emailed to employees.
    # @return [Array<(PayRun, Integer, Hash)>] PayRun data, response status code and response headers
    def update_pay_run_pay_run_with_http_info(employer_id, tax_year, pay_period, period_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.update_pay_run_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.update_pay_run_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.update_pay_run_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.update_pay_run_pay_run"
      end
      # verify the required parameter 'period_number' is set
      if @api_client.config.client_side_validation && period_number.nil?
        fail ArgumentError, "Missing the required parameter 'period_number' when calling PayRunApi.update_pay_run_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}/{periodNumber}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'periodNumber' + '}', period_number.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?
      query_params[:'sendPayslipEmails'] = opts[:'send_payslip_emails'] if !opts[:'send_payslip_emails'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'PayRun' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#update_pay_run_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Set PaymentDate
    # Sets the PaymentDate for a PayRun.\\n  If the date given is outside of the TaxPeriod that the payrun is for then only the payment date for the individual   PayRunEntries is updated, the PayRun will retain it's current PaymentDate
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :body 
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [PayRun]
    def update_payment_date_pay_run(employer_id, pay_period, period_number, tax_year, opts = {})
      data, _status_code, _headers = update_payment_date_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts)
      data
    end

    # Set PaymentDate
    # Sets the PaymentDate for a PayRun.\\n  If the date given is outside of the TaxPeriod that the payrun is for then only the payment date for the individual   PayRunEntries is updated, the PayRun will retain it&#x27;s current PaymentDate
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :body 
    # @option opts [Integer] :ordinal 
    # @return [Array<(PayRun, Integer, Hash)>] PayRun data, response status code and response headers
    def update_payment_date_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.update_payment_date_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.update_payment_date_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.update_payment_date_pay_run"
      end
      # verify the required parameter 'period_number' is set
      if @api_client.config.client_side_validation && period_number.nil?
        fail ArgumentError, "Missing the required parameter 'period_number' when calling PayRunApi.update_payment_date_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.update_payment_date_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}/{periodNumber}/paymentdate'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'periodNumber' + '}', period_number.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'PayRun' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#update_payment_date_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Zeroise PayRunEntries
    # Zeroises the payrun entries specified in the ids property
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :body 
    # @option opts [Integer] :ordinal  (default to 1)
    # @return [PayRun]
    def zeroise_pay_run_entries_pay_run(employer_id, pay_period, period_number, tax_year, opts = {})
      data, _status_code, _headers = zeroise_pay_run_entries_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts)
      data
    end

    # Zeroise PayRunEntries
    # Zeroises the payrun entries specified in the ids property
    # @param employer_id 
    # @param pay_period 
    # @param period_number 
    # @param tax_year 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :body 
    # @option opts [Integer] :ordinal 
    # @return [Array<(PayRun, Integer, Hash)>] PayRun data, response status code and response headers
    def zeroise_pay_run_entries_pay_run_with_http_info(employer_id, pay_period, period_number, tax_year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayRunApi.zeroise_pay_run_entries_pay_run ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling PayRunApi.zeroise_pay_run_entries_pay_run"
      end
      # verify the required parameter 'pay_period' is set
      if @api_client.config.client_side_validation && pay_period.nil?
        fail ArgumentError, "Missing the required parameter 'pay_period' when calling PayRunApi.zeroise_pay_run_entries_pay_run"
      end
      # verify the required parameter 'period_number' is set
      if @api_client.config.client_side_validation && period_number.nil?
        fail ArgumentError, "Missing the required parameter 'period_number' when calling PayRunApi.zeroise_pay_run_entries_pay_run"
      end
      # verify the required parameter 'tax_year' is set
      if @api_client.config.client_side_validation && tax_year.nil?
        fail ArgumentError, "Missing the required parameter 'tax_year' when calling PayRunApi.zeroise_pay_run_entries_pay_run"
      end
      # resource path
      local_var_path = '/employers/{employerId}/payrun/{taxYear}/{payPeriod}/{periodNumber}/zeroise'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'payPeriod' + '}', pay_period.to_s).sub('{' + 'periodNumber' + '}', period_number.to_s).sub('{' + 'taxYear' + '}', tax_year.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ordinal'] = opts[:'ordinal'] if !opts[:'ordinal'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'PayRun' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayRunApi#zeroise_pay_run_entries_pay_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
