=begin
#Staffology Payroll API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1
Contact: duane@staffology.co.uk
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.29
=end

module SwaggerClient
  class WorkingPatternApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create WorkingPattern
    # Creates a new WorkingPattern for the Employer.
    # @param employer_id 
    # @param [Hash] opts the optional parameters
    # @option opts [WorkingPattern] :body 
    # @return [WorkingPattern]
    def create_working_pattern(employer_id, opts = {})
      data, _status_code, _headers = create_working_pattern_with_http_info(employer_id, opts)
      data
    end

    # Create WorkingPattern
    # Creates a new WorkingPattern for the Employer.
    # @param employer_id 
    # @param [Hash] opts the optional parameters
    # @option opts [WorkingPattern] :body 
    # @return [Array<(WorkingPattern, Integer, Hash)>] WorkingPattern data, response status code and response headers
    def create_working_pattern_with_http_info(employer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkingPatternApi.create_working_pattern ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling WorkingPatternApi.create_working_pattern"
      end
      # resource path
      local_var_path = '/employers/{employerId}/workingpatterns'.sub('{' + 'employerId' + '}', employer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'WorkingPattern' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkingPatternApi#create_working_pattern\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete WorkingPattern
    # Deletes the specified WorkingPattern.
    # @param employer_id 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_working_pattern(employer_id, id, opts = {})
      delete_working_pattern_with_http_info(employer_id, id, opts)
      nil
    end

    # Delete WorkingPattern
    # Deletes the specified WorkingPattern.
    # @param employer_id 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_working_pattern_with_http_info(employer_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkingPatternApi.delete_working_pattern ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling WorkingPatternApi.delete_working_pattern"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkingPatternApi.delete_working_pattern"
      end
      # resource path
      local_var_path = '/employers/{employerId}/workingpatterns/{id}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkingPatternApi#delete_working_pattern\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get WorkingPattern
    # Gets the WorkingPattern specified.
    # @param employer_id The Id of the Employer to which the WorkingPattern belongs.
    # @param id The id of the WorkingPattern you want to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [WorkingPattern]
    def get_working_pattern(employer_id, id, opts = {})
      data, _status_code, _headers = get_working_pattern_with_http_info(employer_id, id, opts)
      data
    end

    # Get WorkingPattern
    # Gets the WorkingPattern specified.
    # @param employer_id The Id of the Employer to which the WorkingPattern belongs.
    # @param id The id of the WorkingPattern you want to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkingPattern, Integer, Hash)>] WorkingPattern data, response status code and response headers
    def get_working_pattern_with_http_info(employer_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkingPatternApi.get_working_pattern ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling WorkingPatternApi.get_working_pattern"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkingPatternApi.get_working_pattern"
      end
      # resource path
      local_var_path = '/employers/{employerId}/workingpatterns/{id}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'WorkingPattern' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkingPatternApi#get_working_pattern\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List WorkingPatterns
    # Lists all WorkingPattern for the Employer specified.
    # @param employer_id The Id of the Employer for which you want to list WorkingPattern
    # @param [Hash] opts the optional parameters
    # @return [Array<Item>]
    def index_working_pattern(employer_id, opts = {})
      data, _status_code, _headers = index_working_pattern_with_http_info(employer_id, opts)
      data
    end

    # List WorkingPatterns
    # Lists all WorkingPattern for the Employer specified.
    # @param employer_id The Id of the Employer for which you want to list WorkingPattern
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Item>, Integer, Hash)>] Array<Item> data, response status code and response headers
    def index_working_pattern_with_http_info(employer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkingPatternApi.index_working_pattern ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling WorkingPatternApi.index_working_pattern"
      end
      # resource path
      local_var_path = '/employers/{employerId}/workingpatterns'.sub('{' + 'employerId' + '}', employer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<Item>' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkingPatternApi#index_working_pattern\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update WorkingPattern
    # Updates the details of an existing WorkingPattern.
    # @param employer_id 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [WorkingPattern] :body 
    # @return [WorkingPattern]
    def update_working_pattern(employer_id, id, opts = {})
      data, _status_code, _headers = update_working_pattern_with_http_info(employer_id, id, opts)
      data
    end

    # Update WorkingPattern
    # Updates the details of an existing WorkingPattern.
    # @param employer_id 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [WorkingPattern] :body 
    # @return [Array<(WorkingPattern, Integer, Hash)>] WorkingPattern data, response status code and response headers
    def update_working_pattern_with_http_info(employer_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkingPatternApi.update_working_pattern ...'
      end
      # verify the required parameter 'employer_id' is set
      if @api_client.config.client_side_validation && employer_id.nil?
        fail ArgumentError, "Missing the required parameter 'employer_id' when calling WorkingPatternApi.update_working_pattern"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkingPatternApi.update_working_pattern"
      end
      # resource path
      local_var_path = '/employers/{employerId}/workingpatterns/{id}'.sub('{' + 'employerId' + '}', employer_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'WorkingPattern' 

      auth_names = opts[:auth_names] || ['Basic', 'oauth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkingPatternApi#update_working_pattern\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
